@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
  }

body {
    display: block;
    font-family: monospace;
    padding: 0 20px;
    margin: 150px auto;
    width: 20rem;
    height: 26rem;
    border: 3px solid black;
    overflow-y: hidden;
}

.generate {
    font-size: 2rem;
    font-weight: bold;
}

span {
    background-color: lightgreen;
}

.never {
    position: relative;
    font-weight: bold;
    top: -1rem;
    letter-spacing: 1.5px;
}

#button, #copy {
	position: relative;
    margin-right: px;
    font-family: monospace;
    top: 1.5rem;
    background-color: #FFF;
	cursor: pointer;
    padding: .5rem;
    font-weight: 600;
}

#clear {
	position: relative;
    float: right;
    margin-right: px;
    font-family: monospace;
    top: 1.5rem;
    background-color: #FFF;
	cursor: pointer;
    padding: .5rem;
    font-weight: 600;
}

#button:hover {
    background-color: #000;
    color: #fff;
	transition: .6s ease;
}

#clear:hover {
    background-color: red;
    color: #000;
	transition: .6s ease;
}

#copy:hover {
    background-color: lightgreen;
    color: #000;
	transition: .6s ease;
}


.info {
    position: relative;
    letter-spacing: -1px;
    top: 3rem;
}

hr {
    position: relative;
    top: 5rem;
}

#generated__password {
    position: relative;
    top: 4.3rem;
    height: 2rem;
    border: 2px solid black;
}

#actual__password {
    position: relative;
    font-size: 1.5rem;
    margin: 38px 55px;
}

#hvala, #kopi {
    position: relative;
    text-align: center;
    top: 2.8rem;
}